<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <script src="cursos.js"></script>
</head>
<body>
    <h1>Lista de Cursos - EJS</h1>
    <a href="/novocurso">Novo</a>
    <table id="tabela-cursos">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Opções</th>
        </tr>
        <% cursos.forEach(curso => { %>
        <tr>
            <td><%= curso.id %></td>
            <td><%= curso.nome %></td>
            <td>
                <a href="/cursos/<%= curso.id %>">Detalhes</a>
                <a href="/alteracurso/<%= curso.id %>">Alterar</a>
                <a href="/excluicurso/<%= curso.id %>">Excluir</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>