<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= dados.operacao %> de Curso</h1>
    <form action="<%= dados.action %>" method="post">
        <label for="id">Id: </label>
        <input type="text" name="id" id="id" disabled value="<%= dados.curso!=null ? dados.curso.id : '' %>">
        <br>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome"  value="<%= dados.curso!=null ? dados.curso.nome : '' %>">
        <br>
        <label for="semestres">Semestres: </label>
        <input type="text" name="semestres" id="semestres"  value="<%= dados.curso!=null ? dados.curso.semestres : '' %>">
        <br>
        <input type="submit" value="Gravar">
        

    </form>
</body>
</html>